:root {
	/* Colors */
	--clr-green: hsl(150, 100%, 63%);

	--clr-purple-900: hsl(273, 85%, 13%);
	--clr-purple-500: hsl(271, 12%, 34%);
	--clr-purple-100: hsl(276, 100%, 99%);

	--clr-white: #ffffff;

	/* Typography */
	--ff-primary: 'Fraunces', sans-serif;
	--ff-secondary: 'Manrope', sans-serif;

	--fs-bigger: 80px;
	--fs-big: 56px;
	--fs-normal: 32px;
	--fs-small: 18px;
	--fs-small-2: 18px;

	--lh-bigger: 100%;
	--lh-big: 120%;
	--lh-normal: 120%;
	--lh-small: 180%;
	--lh-small-2: 150%;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

.header__pattern-1 {
	display: none;
}

.header__pattern-2 {
	display: none;
}

.testimonials__pattern {
	display: none;
}

.workit__header {
	background-color: var(--clr-purple-900);
	color: var(--clr-white);
	height: 470px;
	border-bottom-left-radius: 85% 5%;
	border-bottom-right-radius: 85% 5%;
	overflow: hidden;
	position: relative;
}

.workit__navbar {
	display: flex;
	justify-content: space-between;
	padding: 2rem 1rem;
}

.navbar__btn {
	font-family: var(--ff-secondary);
	font-size: var(--fs-small);
	background: none;
	color: var(--clr-white);
	border: none;
	border-bottom: 3px solid var(--clr-green);
}

.navbar__btn:hover {
	cursor: pointer;
	color: var(--clr-green);
}

.header__title {
	font-family: var(--ff-primary);
	text-align: center;
	font-size: 2.7rem;
	line-height: var(--lh-big);
	font-weight: 500;
}

.header__title span {
	border-bottom: 2px solid var(--clr-green);
}

.header__title-btn {
	font-family: var(--ff-secondary);
	margin: 2rem auto;
	display: block;
	padding: 0.8rem 2rem;
	border: none;
	background-color: var(--clr-green);
	font-weight: 600;
}

.header__title-btn:hover {
	cursor: pointer;
	background: none;
	color: var(--clr-green);
	border: 1px solid var(--clr-green);
}

.hero__img {
	position: absolute;
	bottom: 9.4rem;
	left: 1.4rem;
	width: 90%;
}

.workit__hero {
	background-color: var(--clr-purple-100);
	border-bottom-left-radius: 85% 5%;
	border-bottom-right-radius: 85% 5%;
	overflow: hidden;
	padding-top: 9rem;
	text-align: center;
}

.hero__list {
	padding-inline: 1rem;
	margin-bottom: 5rem;
}

.list__num {
	border: 1px solid var(--clr-purple-900);
	width: 1rem;
	border-radius: 50%;
	padding: 8px;
	width: 3.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	font-family: var(--ff-primary);
	color: var(--clr-purple-900);
	display: block;
	margin: 1.4rem auto;
}

.list__title {
	font-family: var(--ff-primary);
	color: var(--clr-purple-900);
	font-size: 1.35rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.list__text {
	color: var(--clr-purple-900);
	font-family: var(--ff-secondary);
	margin-bottom: 2rem;
	line-height: var(--lh-small);
	font-size: 1.05rem;
}

.workit__testimonial {
	position: relative;
}

.testimonial__img {
	width: 75%;
	display: block;
	margin: 7rem auto 0;
}

.testimonial__card {
	position: absolute;
	background-color: var(--clr-purple-900);
	color: var(--clr-white);
	top: 14rem;
	width: 87%;
	left: 50%;
	transform: translateX(-50%);
	padding: 2.2rem 2rem 0rem 2rem;
	text-align: center;
}

.testimonial__title {
	font-size: var(--fs-normal);
	font-weight: 600;
	margin-bottom: 2.2rem;
}

.testimonial__text {
	font-family: var(--ff-secondary);
	line-height: var(--lh-small);
}

.testimonial__btn {
	font-family: var(--ff-secondary);
	margin: 2rem auto;
	display: block;
	padding: 0.8rem 2rem;
	border: none;
	background-color: var(--clr-green);
	font-weight: 600;
}

.testimonial__btn:hover {
	cursor: pointer;
	background: none;
	color: var(--clr-green);
	border: 1px solid var(--clr-green);
}

.workit__footer {
	margin-top: 28rem;
}

.footer__logo {
	display: block;
	margin: auto;
	margin-bottom: 4rem;
}

.footer__socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.65rem;
	margin-bottom: 5rem;
}

.socials__icon:hover {
	cursor: pointer;
}

@media (min-width: 770px) {
	.workit__navbar {
		padding: 2rem 2rem;
	}

	.header__title {
		font-size: 3rem;
		font-weight: 600;
		padding: 0 10rem;
	}

	.header__pattern-1 {
		display: inline-block;
		position: absolute;
		bottom: 6rem;
		left: -14rem;
	}

	.header__pattern-2 {
		display: inline-block;
		position: absolute;
		right: -6rem;
		bottom: 3rem;
	}

	.hero__img {
		bottom: 14rem;
		left: 6rem;
		width: 70%;
	}

	.workit__hero {
		overflow: hidden;
		padding-top: 13.5rem;
		text-align: left;
	}

	.hero__list {
		padding-inline: 2.2rem;
	}

	.list__item {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		column-gap: 3rem;
		row-gap: 1rem;
		align-items: center;
	}

	.list__num {
		grid-column: 1;
		grid-row: 1 / span 2;
	}

	.list__title {
		grid-column: 2;
		justify-self: baseline;
	}

	.list__text {
		grid-column: 2;
	}

	.list__title {
		margin-top: 2rem;
	}

	.testimonial__img {
		width: 40%;
		display: block;
		position: absolute;
		left: 2.6rem;
	}

	.testimonial__card {
		top: 20rem;
		width: 490px;
		height: 355px;
		left: 62%;
		transform: translateX(-50%);
		padding: 2.5rem 2.3rem 0rem 2.2rem;
		text-align: left;
	}

	.testimonial__title {
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	.testimonial__text {
		margin-bottom: 2rem;
	}

	.testimonial__btn {
		font-family: var(--ff-secondary);
		margin: 1.5rem 0 1rem;
		display: block;
		padding: 0.8rem 2rem;
	}

	.testimonials__pattern {
		display: inline-block;
		position: absolute;
		bottom: -7.5rem;
		left: 16rem;
	}

	.workit__footer {
		margin-top: 47rem;
	}

	.footer__logo {
		display: block;
		margin: auto;
		margin-bottom: 4rem;
	}

	.footer__socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.65rem;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1440px) {
	.workit__navbar {
		padding: 3.2rem 8rem;
	}

	.workit__header {
		height: 650px;
		position: relative;
	}

	.header__title {
		font-size: 4.3rem;
		font-weight: 600;
		padding: 0 30rem;
	}

	.header__pattern-1 {
		display: inline-block;
		position: absolute;
		bottom: 12rem;
		left: -8rem;
	}

	.header__pattern-2 {
		display: inline-block;
		position: absolute;
		right: -3rem;
		bottom: 7rem;
	}

	.hero__img {
		bottom: 0rem;
		left: 27.5rem;
		width: 43%;
	}

	.hero__list {
		padding-inline: 2.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.list__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 0 7px;
	}

	.list__title {
		margin-top: 0;
		font-size: 1.7rem;
	}

	.list__text {
		width: 83%;
		font-size: 1.1rem;
	}

	.testimonial__img {
		width: 30%;
		left: 7.5rem;
	}

	.testimonial__card {
		top: 20rem;
		width: 550px;
		height: 355px;
		left: 50%;
		transform: translateX(-50%);
		padding: 2.5rem 3rem 0rem 3rem;
	}

	.testimonial__text {
		margin-bottom: 1rem;
	}

	.testimonials__pattern {
		display: inline-block;
		position: absolute;
		bottom: -4.5rem;
		left: 18rem;
	}
}
